# App environment
NODE_ENV=production

# API
API_PORT=3100

# PostgreSQL
DATABASE_HOST=localhost
# we set this so it doesn't collide with local postgres (if any)
DATABASE_PORT=5435
DATABASE_USER=postgres
DATABASE_PASSWORD=1234
DATABASE_NAME=seat_reservation_db

# Redis
REDIS_HOST=localhost
# we set this so it doesn't collide with local redis (if any)
REDIS_PORT=6380
REDIS_USERNAME=
REDIS_PASSWORD=1234
REDIS_DB=0
REDIS_KEY_PREFIX=seat-reservation:
BULLMQ_PREFIX=seat-reservation:bull

# Seat reservation demo knobs
# Just ignore this, this just served as dummy ID
SEAT_RESERVATION_ID=main
SEAT_RESERVATION_PRODUCT_NAME=Priority Seat
# Adjustable and will also adjust seat displayed on UI
SEAT_RESERVATION_TOTAL_STOCK=3

# we wait for 30 seconds before sale start (simulate waiting for sale to start)
SEAT_RESERVATION_START_DELAY_SECONDS=30

# how long sale will open. default to 10 minutes
SEAT_RESERVATION_DURATION_SECONDS=600

# reservation time limit, default to 3 minutes
SEAT_RESERVATION_RESERVATION_TTL_SECONDS=180

# after letting reservation expired, hold user for 60 seconds before they can reserve again
SEAT_RESERVATION_COOLDOWN_TTL_SECONDS=60

# clicking reserved more than 3 times per minute will trigger cooldown because it's marked as abusive
SEAT_RESERVATION_USER_ATTEMPT_LIMIT=3
SEAT_RESERVATION_ATTEMPT_WINDOW_SECONDS=60

# only 70% chance payment will success. adjust to lower value to simulate more payment failure
SEAT_RESERVATION_PAYMENT_SUCCESS_RATE=0.7

# authentication config
JWT_SECRET=seat-reservation-demo-secret
AUTH_SESSION_TTL_DAYS=90
AUTH_COOKIE_NAME=seat_reservation_session
DEMO_USERS=alice:password123,bob:password123,carol:password123,dave:password123

# Nginx
# we set this so it doesn't collide with local nginx (if any)
NGINX_PORT=88

# Container names
WEB_CONTAINER_NAME=seat_reservation_web
API_CONTAINER_NAME=seat_reservation_api
POSTGRES_CONTAINER_NAME=seat_reservation_postgres
REDIS_CONTAINER_NAME=seat_reservation_redis
NGINX_CONTAINER_NAME=seat_reservation_nginx
